# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Datasets / große Trainingsdaten
ps/project/sign_lang_train/
ps/project/sign_lang_train.zip

# LaTeX build files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv